- page_title 'Decrypt with attack'

- @result.each do |item|
  .container
    %h1
      Attack:
      = item[:attack_name]
    .row
      .col-xs-4
        %h4 Original image
        = image_tag @watermark.original_image.url, class: 'img-responsive'
      .col-xs-4
        %h4 Image with watermark
        = image_tag "/result/#{@watermark.id}/encrypt_image.bmp", class: 'img-responsive'
      .col-xs-4
        %h4 Attacked image
        = image_tag item[:attacked_image_path], class: 'img-responsive'

    .row
      .col-xs-4
        %h4 Watermark
      .col-xs-4
        %h4 Decrypted watermark
      .col-xs-4
        %h4 Difference image between origin watermark and decrypted watermark after attack
      .col-xs-4
        = image_tag @watermark.watermark.url
      .col-xs-4
        = image_tag item[:watermark_after_decrypt_with_name]
      .col-xs-4
        = image_tag item[:difference_image_between_original_watermark_and_result_watermark_with_name]


    .row
      .col-xs-12
        .table-responsive
          %table.table.table-bordered
            %thead
              %tr
                %th Origin image Robustness coefficients
                %th Origin
                %th Attacked
                %th Difference
            %tbody
              %tr
                %th{scope: 'row'} PSNR
                %td= @watermark.watermark_psnr
                %td No
                %td No
              %tr
                %th{scope: 'row'} SSIM
                %td= @watermark.watermark_ssim
                %td No
                %td No
            %thead
              %tr
                %th Watermark Robustness coefficients
                %th Origin
                %th Attacked
                %th Difference
            %tbody
              %tr
                %th{scope: 'row'} PSNR
                %td= @watermark.watermark_psnr
                %td= item[:psnr]
                %td= item[:psnr].to_f - @watermark.watermark_psnr.to_f
              %tr
                %th{scope: 'row'} SSIM
                %td= @watermark.watermark_ssim
                %td= item[:ssim]
                %td= item[:ssim].to_f - @watermark.watermark_ssim.to_f

.container
  .row
    .col-xs-12
      = link_to 'Original image and watermark', watermark_path(@watermark), class: 'btn btn-primary'
