- page_title t('.title')

.container
  .row
    .col-xs-6
      %h4= t('original_image')
      = image_tag @watermark.original_image.url, class: 'img-responsive'
    .col-xs-6
      %h4= t('watermark_ua')
      = image_tag @watermark.watermark.url, class: 'img-responsive'

  .row
    .col-xs-6
      %h4= t('image_with_watermark')
    .col-xs-6
      %h4= t('.difference_origin_and_origin_with_watermark')
    .col-xs-6
      = image_tag "/result/#{@watermark.id}/encrypt_image.bmp", class: 'img-responsive'
    .col-xs-6
      = image_tag "/result/#{@watermark.id}/difference_original_image.bmp", class: 'img-responsive'

  .row
    .col-xs-6
      %h3= "#{t('psnr')}: #{@psnr}"
    .col-xs-6
      %h3= "#{t('ssim')}: #{@ssim}"

  .row
    .col-xs-12
      = link_to t('decrypt'), decrypt_watermark_path(@watermark), class: 'btn btn-primary'
      = link_to t('decrypt_with_attack'), decrypt_with_attack_watermark_path(@watermark, 'all'), class: 'btn btn-primary'
