- page_title 'Watermark'

.container
  = form_for @watermark, method: :post, url: watermark_index_path, html: { multipart: true } do |f|
    .form-group
      %h3 Original image
      = f.file_field :original_image
    .form-group
      %h3 Watermark
      = f.file_field :watermark
    .checkbox
      = f.label :color do
        = f.check_box :color
        Color

    = f.submit 'Do it', class: 'btn btn-default'
