- page_title 'Result'

.container
  .row
    .col-xs-6
      %h4 Original image
      = image_tag @watermark.original_image.url
    .col-xs-6
      %h4 Watermark
      = image_tag @watermark.watermark.url
  .row
    .col-xs-12
      .table-responsive
        %table.table.table-bordered
          %thead
            %tr
              %th X
              %th Height
              %th Width
          %tbody
            %tr
              %th{scope: 'row'} Origin image
              %td= @watermark.original_image.height
              %td= @watermark.original_image.width
            %tr
              %th{scope: 'row'} Watermark
              %td= @watermark.watermark.height
              %td= @watermark.watermark.width
    .col-xs-12
      = link_to 'Encrypt', encrypt_watermark_path(@watermark), class: 'btn btn-primary'
      = link_to 'Decrypt', decrypt_watermark_path(@watermark), class: 'btn btn-primary'
